.details-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 3rem;
    font-size: .8rem;
    width: 100%;
    cursor: pointer;
}

/* .details-wrapper.active {

} */

@media (min-width: 660px){
    .filter-name-section.active{
        display: flex;
        justify-content: space-between;
        align-items: center;
        display: block;
    }

    .close-filter-icon{
        transition: all 200ms ease;
        display: none;
    }

    .pagination-container{
      margin-left: ;
      width: 100%;
    }

     .filter-container div:first-child{
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: default;
    }

    .filter-container.active{
        opacity: 1;
        position: fixed;
        width: 18rem;
        bottom: 0;
        top: 0;
        left: 0rem;
        display: block;
    }
}

@media (max-width: 660px){
    .filter-name-section{
        display: flex;
        justify-content: space-between;
        padding-bottom: .5rem;
        border-bottom: 1px solid rgba(128, 128, 128, 0.404);
    }

    .filter-name-section div:first-child{
        margin-inline: auto;
    }

    .close-filter-icon{
        transition: all 200ms ease;
        display: flex;
    }

    .arrow-close-icon{
        display: none;
         }

    .filter-container.active{
        opacity: 1;
        transition: all 400ms ease;
        position: fixed;
        width: 100vw;
        bottom: 0;
        top: 0;
        left: 0rem;
        display: block;
    }

}

.filter-container{
    width: 20rem;
    padding: 5rem 1em;
    margin-top: 1em;
    opacity: 0;
    display: none;
    transition: all 300ms ease;
    transform: translateX(-100rem);
}

.arrow-close-icon{
    transition: all 200ms ease;
}

.close-filter-icon:hover,
.arrow-close-icon:hover{
    background-color: lightgray;

}


.filter-container.active{
    transform: translateX(0rem);
    opacity: 1;
    scrollbar-width: thin; /* Options: auto, thin, none */
    scrollbar-color: #1e8ff8 #9693937c; /* Thumb color, Track color */
    padding: 3em 2em;
    height: 100vh;
    left: 0;
}

.filter-name-page.active{
    display: none;
    opacity: 0;
}

.filter-name-page{
    border: 1px solid rgb(194, 189, 189);
    padding: 2px 4px;
    opacity: 1;
    transition: all 400ms ease;
}

.filter-name-page:hover{
   background-color: rgba(219, 219, 219, 0.315);
}


.details-wrapper .show-more-icon,
.show-more-icon{
    transition: transform 200ms ease-in-out;
}

.details-wrapper.active .show-more-icon{
    transform: rotate(180deg);
}

.moves-generation-wrapper.active .show-more-icon{
    transform: rotate(180deg);
}

.moves-typea-wrapper.active .show-more-icon{
    transform: rotate(180deg);
}

.Types-content.active{
   margin-bottom: 37.2rem;
   align-items:start; 
   border-bottom: none;
  transform: translateY(1.1em);
}

.Generations-content.active{
    margin-bottom: 17.4rem;
    align-items:start; 
    border-bottom: none;
    transform: translateY(1.1em); 
 }

 .Regions-content.active{
    margin-bottom: 20.2rem;
    align-items:start; 
    border-bottom: none;
    transform: translateY(1.1em); 
 }

 .Moves-content.active{
    border: none;
 }

.move-generation-list{
    border: none;
 }

.filtering-pokemon .Types-content.active ~ .type-list{
    transition: all 200ms ease;
    height: fit-content;
    opacity: 1;
}

.type-list {
   transform: translateY(-22.9rem);
   transition: all 100ms ease;
   cursor: pointer;
   font-weight: 500;
   font-family: Helvetica, sans-serif;
   transition: all 200ms ease;
   height: fit-content;
}

.generations-list{
    transform: translateY(-23.4rem);
    transition: all 100ms ease;
    cursor: pointer;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    transition: all 200ms ease;
    height: fit-content;
}

.regions-list{
    transform: translateY(-23.2rem);
    transition: all 100ms ease;
    cursor: pointer;
    font-weight: 500;
    font-family: Helvetica, sans-serif;
    height: fit-content;
}

.type-list:hover,
.generations-list:hover,
.regions-list:hover,
.move-generation-list:hover,
.move-type-list:hover{
    color: rgb(8, 86, 255);
 }
 