@media (min-width: 860px){
    .pokemon-container{
        display: flex;
    }

    .pokemon-image-container {
        width: 40%;
        height: 24rem;
    }

    .pokemon-image-container img{
        height: 100%;
    }

    .prev-container h2,
    .next-container h2{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }

    .pokemon-preview {
        padding: 1rem;
        margin-top: 4rem;
    }

    .info-pokemon-wrapper{
        display: flex;
        flex-direction: row-reverse;
        background: white;
        padding: 1.4rem;
    }

    .about-pokemon-wrapper{
        width: 40%;
    }

    .pokemon-type-sm{
        display: none;
    }

    .next-container,
    .prev-container{
        display: flex;
    }

    .sm-arrow{
        display: none;
    }

    .evolution-tree-container{
        margin-top: 5rem;
    }

    .evol-sprite-wrapper{
        padding: 2rem;
    }

    .evolutionStage-wrapper{
        width: 25%;
    }

    .evol-type-container{
        gap: .5rem;
    }

    .evol-type-container div{
        padding: .3rem 1rem;
    }

    .evol-poke-name{
        font-size: 1.5rem;
    }

    .evol-tree-arrow{
        display: none;
    }

    .stats-container{
/*        margin-top: 4rem;*/
    }
}

@media (max-width: 860px){
    .pokemon-preview {
        padding: 1rem;
        margin-top: 4rem;
    }

    .about-pokemon{
        display: flex;
        align-items: center;
        gap: .5rem;
        margin-bottom: .5em;
    }

    .pokemon-types-btm{
        display: none;
    }

    .next-container,
    .prev-container{
        display: none;
    }

    .evol-sprite-wrapper{
        padding: .5rem;
    }

    .evolutionStage-wrapper{
        width: 33.3%;
    }

    .back-menu{
        display:none;
    }


    .evol-type-container{
        gap: .2rem;
        font-size: .5rem;
    }

    .evol-type-container div{
        padding: .2rem .5rem;
    }

    .evol-poke-name{
        font-size: .8rem;
    }

    .evol-poke-id{
        font-size: .5rem;
    }

    .evol-tree-arrow{
        top: 30%;
        left: -20%;
        display: block;
    }

    .evolution-connnection{
        display:none;
    }

    .evolution-tree-container{
        margin-top: 2rem;
    }


    .stats-container{
        margin-top: 3rem;
    }
}


@media (max-width: 500px){
    .evol-tree-arrow{
        top: 23%;
        left: -36%;
        display: block;
    }

    .evolution-connnection{
        display:none;
    }
}