@media (min-width: 860px){
    .pokemon-container{
        display: flex;
    }

    .pokemon-image-container {
        width: 30%;
        height: 24rem;
    }

    .pokemon-image-container img{
        height: 100%;
    }

    .prev-container h2,
    .next-container h2{
        font-size: 1.125rem;
        line-height: 1.75rem;
    }
}