#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
  padding: 0 2rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


footer{
  transform: translateY(4rem)
}

input[type="text"] {
  outline: none;
  padding-left: 1em;
}

summary{
  text-decoration: none;
  list-style: none;
}

@media (min-width: 860px) {
  .filter-container.active{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 17rem;
  }

  .search-filter-container div:first-child {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

  .search-field-container{
      flex: 1;
  }

  .filter-name-page{
      width: 10rem;
      transform: translateY(-.3rem);
  }
}

.pokemon-list-container {
  cursor: pointer;
}

.pokemon-list-container .pokemon-img {
  transition: all 200ms ease-in-out;
  /* filter: drop-shadow(35px -11px 4px rgba(0, 0, 0, 0.096)); */
}

.pokemon-list-container:hover {
  box-shadow: 0 2px 1rem rgba(32, 49, 51, 0.205);
}

.pokemon-list-container:hover .pokemon-img {
  transform: scale(1.09);
  filter: drop-shadow(20px 6px 2px #203b241a);
}

.prev-container.active{
  opacity: 0;
  cursor: default;
}

.prev-container.active img{
  display: none;
}

.fire {
  background-color: #fd7d24;
  color: white;
}

.water {
  background-color: #4592c4;
  color: white;
}

.grass {
  background-color: #78c850;
  color: white;
}

.electric {
  background-color: #f8d030;
}

.psychic {
  background-color: #f85888;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #fd7d24;
  color: white;
}

.poison {
  background-color: #b97fc9;
  color: white;
}

.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
}

.flying{
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
}

.bug{
  background-color: #a8b820;
  color: white;
}

.rock {
  background-color: #b8a038;
}

.ghost {
  background-color: #705898;
  color: white;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
}

.dark {
  background-color: #705848;
  color: white;
}

.steel {
  background-color: #b8b8d0;
}

.fairy {
  background-color: #fdb9e9;
}

.normal {
  background-color: #a4acaf;
  color: white;
}


/* Pokemon Background Statistics  */
.bg-hp{
  background-color: hsl(60, 80%, 70%);
}

.bg-attack{
  background-color: rgb(67, 248, 128);
}

.bg-defense{
  background-color: hsl(60, 80%, 70%);
}

.bg-special-attack{
  background-color: rgb(247, 54, 54);
}

.bg-special-defense{
  background-color: hsl(60, 80%, 70%);
}

.bg-speed{
  background-color: hsl(60, 80%, 70%);
}

.bg-total{
  background-color: hsl(60, 80%, 70%);
}

.evolution-stages,
.evolution-stages img {
  cursor: pointer;
  transition: all 400ms ease-in-out;
  overflow: hidden;
}

.evolution-stages:hover{
  background-color: rgba(235, 235, 235, 0.979);

}

.evolution-stages:hover img{
  transform: scale(1.1);
}



.evolution-connnection{
  position: absolute;
  width: 40rem;
  height: 10px;
  right: 0;
  top: -8rem;
  z-index: -1;
  background-color: red;
}

.prev-container img,
.next-container img{
  opacity: .5;
  transition: all 300ms ;
}

.prev-container img:hover,
.next-container img:hover {
  opacity: 1;
  transform: scale(1.1), rotate(180);
}

.loading-message {
  font-size: 24px; /* Adjust as needed */
  font-weight: bold; /* Optional, for emphasis */
  color: #333; /* Adjust color as needed */
  animation: fade 2s infinite ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.95); /* Optional: slight scale down for effect */
  }
  50% {
    opacity: 1;
    transform: scale(1); /* Optional: return to normal scale */
  }
  100% {
    opacity: 0;
    transform: scale(0.95); /* Optional: slight scale down for effect */
  }
}

.loading-message-container{
  opacity: 1;
  transition: opacity 1s ease-out;
}

.loading-message-container.fade-out{
  opacity: 0;
}

.filtering-pokemon div{
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}

.filtering-pokemon select{
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: .5rem;
  width: 100%;
}

.search-pokemon{
  border: 1px solid rgb(194, 189, 189);
}

option{
  border: none;
  font-size: medium;
  border-radius: .5rem;
  outline: none;
}

.filter-container{
  border: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: .4rem;
  padding-bottom: 1rem;
}

.sort-by{
  border:  1px solid rgba(65, 63, 63, 0.2);
  outline: none;
}