@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

body {
  font-family: "Raleway", sans-serif;
/*  background-color: rgba(240, 240, 250, .9);*/
}

.header{
  transition: all 300ms ease-in-out;

}
.hidden {
  top: -100px; /* Move the header out of view */
}


footer{
  transform: translateY(4rem)
}

input[type="text"] {
  outline: none;
  padding-left: 1em;
}

summary{
  text-decoration: none;
  list-style: none;
}

@media (min-width: 720px) {
  #root {
    padding: 0 2rem;
}
  .filter-container.active{
    position: fixed;
    bottom: 0;
    top: 0;
    left: 0;
    width: 17rem;
  }

  .pokemon-list-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8em .8em;
  }

  .menu-bar{
    display: none;
  }

  .search-filter-container{
    margin-bottom: 2rem;
  }

  .search-filter-container div:first-child {
      display: flex;
      flex-direction: row-reverse;
      align-items: center;
    }

  .search-field-container{
      flex: 1;
  }

  .filter-name-page{
      width: 10rem;
      transform: translateY(-.3rem);
  }

  .list-filter-container{
    display: flex;
  }

  .filter-section{
    width: 20%;
    margin-top: 0;
    padding-inline: 1rem;
    margin-left: -.5rem;
  }

  .filter-section .filter{
    display: flex;
    flex-direction: column;
    column-gap: 1.5em;
    row-gap: .5em;
  }

  .pokemon-list-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: .8em .7em;
  }

  .nav-list{
    display:flex;
  }

  .pokemon-logo{
    margin-left: 1rem;
  }

  .filter-list{
    width: 11rem;
  }

  .pokemon-list-container{
    padding: .8rem;
    height: 13rem;
  }

  .pokemon-card-name{
    font-size: 1.5rem;
    font-weight: 800;
  }

  .card-id{
    font-size: 1.2rem;
  }

  .card-type{
    max-width: 5rem;
    font-size: .8rem;
  }

  .pokeball-bg{
    width: 12rem;
    bottom: -2.5rem;
    right: 0;
  }
}


@media (max-width: 720px){
    #root {
    padding: 0 .0rem;
    }

    .pagination-container{
      padding: 0 .7rem;
    }

    .pokemon-list-wrapper{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: .7em .7em;
    }

    .pokemon-card-name{
      font-size: .8rem;
    }

    .nav-list{
    display:flex;
  }

    .menu-bar{
      display: flex;
    }

    .nav-list{
      display:none;
    }

    .search-btn{
      display: none;
    }

    .search-filter-container{
      margin-bottom: .9rem;
    }

    .move-filter{
      display: none;
    }

    .filter-list{
      min-width: 6rem;
    }

    .pokemon-list-container{
      padding: .5rem;
      border: none;
      height: 8rem;
    }

    .card-id{
      font-size: .7rem;
      transform: translateY(2px);
    }

    .card-type{
       max-width: 4rem;
       font-size: .4rem;
  }

    .pokeball-bg{
      width: 7rem;
      right: -.3rem;
      bottom: -.5rem;
  }

    .card-sprite{
      height: 20rem;
    }

    .filter-msg,
    .back-msg,
    .id-table{
      display: none;
    }

    .table-form{
      flex-direction: column;
    }

    .name-table-section{
      text-align: center;
      justify-content: center;
    }
}

.tr-content{
  border-bottom: 1px solid lightgray;
}

.th{
  border: 1px solid lightgray;
}

.pokemon-list-container {
  cursor: pointer;
}

.pokemon-list-container .pokemon-img {
  transition: all 200ms ease-in-out;
  filter: drop-shadow(10px 5px 3px  rgba(0, 0, 0, .2));
}

.pokemon-list-container:hover {
  box-shadow: 0 2px 1rem rgba(32, 49, 51, 0.205);
}

.pokemon-list-container:hover .pokemon-img {
  transform: scale(1.09);
  filter: drop-shadow(20px 6px 2px #203b241a);
}

.prev-container.active{
  opacity: 0;
  cursor: default;
}

.prev-container.active img{
  display: none;
}

.fire {
  background-color: rgba(250, 117, 35, .9);
  color: white;
}

.water {
  background-color: #4592c4;
  color: white;
}

.grass {
  background-color: rgba(64, 198, 107, 1);
  color: white;
}

.electric {
  background-color: #f8d030;
  color: black;
}

.psychic {
  background-color: #f85888;
  color: white;
}

.ice {
  background-color: #98d8d8;
}

.fighting {
  background-color: #fd7d24;
  color: white;
}

.poison {
  background-color: #b97fc9;
  color: white;
}

.ground {
  background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
  background-color: #f7de3f;
  color: black;
}

.flying{
  background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
  color: white;
}

.bug{
  background-color: #a8b820;
  color: white;
}

.rock {
  background-color: #b8a038;
    color: white;
}

.ghost {
  background-color: #705898;
  color: white;
}

.dragon {
  background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
  background-color: #53a4cf;
  color: white;
}

.dark {
  background-color: #705848;
  color: white;
}

.steel {
  background-color: #b8b8d0;
  color: white;
}

.fairy {
  background-color: #fdb9e9;
  color: white;
}

.normal {
  background-color: #a4acaf;
  color: white;
}


/* Pokemon Background Statistics  */
.bg-hp{
  background-color: hsl(60, 80%, 70%);
}

.bg-attack{
  background-color: rgb(67, 248, 128);
}

.bg-defense{
  background-color: hsl(60, 80%, 70%);
}

.bg-special-attack{
  background-color: rgb(247, 54, 54);
}

.bg-special-defense{
  background-color: hsl(60, 80%, 70%);
}

.bg-speed{
  background-color: hsl(60, 80%, 70%);
}

.bg-total{
  background-color: hsl(60, 80%, 70%);
}

.evolution-stages,
.evolution-stages img {
  cursor: pointer;
  transition: all 400ms ease-in-out;
  overflow: hidden;
}

.evolution-stages:hover{
  background-color: rgba(235, 235, 235, 0.979);

}

.evolution-stages:hover img{
  transform: scale(1.1);
}



@media (min-width: 800px){
  .evolution-connnection{
    position: absolute;
    width: 39rem;
    height: 10px;
    right: 0;
    top: -8rem;
    z-index: -1;
    background-color: red;
  }
}



.prev-container img,
.next-container img{
  opacity: .5;
  transition: all 300ms ;
}

.prev-container img:hover,
.next-container img:hover {
  opacity: 1;
  transform: scale(1.1), rotate(180);
}

.loading-message {
  font-size: 24px; /* Adjust as needed */
  font-weight: bold; /* Optional, for emphasis */
  animation: fade 2s infinite ease-in-out;
}

@keyframes fade {
  0% {
    opacity: 0;
    transform: scale(0.95); /* Optional: slight scale down for effect */
  }
  50% {
    opacity: 1;
    transform: scale(1); /* Optional: return to normal scale */
  }
  100% {
    opacity: 0;
    transform: scale(0.95); /* Optional: slight scale down for effect */
  }
}

.loading-message-container{
  opacity: 1;
  transition: opacity 1s ease-out;
}

.loading-message-container.fade-out{
  opacity: 0;
}

.filtering-pokemon div{
  align-items: center;
  border-bottom: 1px solid rgba(128, 128, 128, 0.452);
}

.filtering-pokemon select{
  border: none;
  outline: none;
  font-size: 1rem;
  border-radius: .5rem;
  width: 100%;
}

input[type="text"]{
/*  border: 1px solid rgb(194, 189, 189);*/
  padding-left: 1rem;
}

option{
  border: none;
  font-size: medium;
  border-radius: .5rem;
  outline: none;
}

.filter-container{
  border: 1px solid rgba(128, 128, 128, 0.452);
  border-left: none;
  border-right: none;
  border-top: none;
  margin-bottom: .4rem;
  padding-bottom: 1rem;
}

.sort-by{
  border:  1px solid rgba(65, 63, 63, 0.2);
  outline: none;
}

li{
  cursor: pointer;
}

.load-more-items{
  background-color: rgba(40, 100, 225, .9);
  transition: background 400ms ease-in-out;
}

.load-more-items:hover{
  background-color: rgba(20, 100, 255, 1);
}




@media (min-width: 570px){
  .home-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  .home-container div:first-child{
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
  }

  .slider-container{
    display: flex;
    width: 90%;
    margin-bottom: auto;
    margin-right: auto;
  }

  .second-hero{
    display: none;
  }

  .home-first-container div:nth-child(2) h3{
    font-size: 2.3rem;
  }

  .home-mobile-view{
    display: none;
  }
}

@media (max-width: 570px){
   .home-container{
      display: none;
  }

  .home-mobile-view{
    background-image: url("https://assets.pokemon.com//assets/cms2/img/misc/virtual-backgrounds/sword-shield/pokemon-in-the-wild.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: cover;
  }

  .home-glass {
    background: rgba( 64, 64, 64, 0.35 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 6px );
    -webkit-backdrop-filter: blur( 6px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    height: 100dvh;
  }

  .home-first-container div:first-child{
    margin-top: auto;
    z-index: 20;
  }

  .home-first-container div:nth-child(2){
    margin-top: 20rem;
    width: 100%;
    z-index: 20;
  }

  .home-first-container div:nth-child(2) h3{
    font-size: 1.8rem;
  }

  .home-first-container div:nth-child(2) button{
    width: 100%;
  }

  .hero{
    display: none;
  }

  .second-hero{
    display: block;
    z-index: 0;
  }

  .slider-container {
    display: none;
  }

  .slider-container div img:first-child{
    width: 100%;

  }

  .first-img{
    max-width: 17rem;

  }

  .sec-img{
    min-width: 8rem;
    transform: translateY(-40px);
  }


  .home-description{
    font-size: .8rem;
    width: 90%;
  }
}

.menu-bar.active{
  background: rgba( 30, 26, 26, 0.65 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 12px );
  -webkit-backdrop-filter: blur( 12px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.custom-scroll::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  height: 0; /* Remove scrollbar space */
}

.custom-scroll {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.theme-container{
background: rgba( 48, 48, 48, 0.45 );
box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
backdrop-filter: blur( 13.5px );
-webkit-backdrop-filter: blur( 13.5px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}

input::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}